*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
    background-color: black;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0 9rem;
    gap: 1rem;

}
.inputs{
    display: flex;
    gap: 0.5rem;
}
input{
    padding: 0.3rem;
    width: 20%;
}